:root {
  --nav-bg-color: #eaeaea;
}

* {
  box-sizing: border-box;
}

a {
  color: #9e5b89;
}

html {
  font-size: 14px;
}

body {
  font-family: Hasklig, monospace;
  margin: 0;
  padding-top: 70px;
  color: #333333;
}

h1 {
  margin-bottom: 0;
  font-size: 0.95rem;
  font-weight: 400;
}

h2 {
  font-size: 1.1rem;
  margin-top: 5px;
}

nav {
  float: left;
  height: calc(100vh - 70px);
  width: 300px;
  padding: 30px;
  background: var(--nav-bg-color);
}

nav ul {
  margin-bottom: 45px;
  padding-left: 0;
  list-style: none;
}

nav ul span {
  display: block;
}

nav li {
  margin-bottom: 15px;
}

main {
  overflow: auto;
  padding: 30px 45px;
}

#top-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 70px;
  padding: 2px 30px;
  background: #666;
  color: #ddd;
}

#top-nav-bar header {
  float: left;
}

#top-nav-bar time {
  float: right;
  margin-top: 25px;
}

#featured-article {
  margin-bottom: 30px;
  padding: 15px 30px;
  background: var(--nav-bg-color);
}

#featured-article figure {
  float: left;
  margin: 0 15px 10px 0;
}

#article-list {
  display: flex;
}

#article-list article {
  flex: 1 0 calc(250px - 30px);
}

#article-list article:not(:nth-child(4n + 0)) {
  margin-right: 30px;
}

#article-list article p {
  font-size: 0.9rem;
  text-align: justify;
}
